<HTML>
<HEAD>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
	<META NAME="Author" CONTENT="Rob Rutten">

	<TITLE>The Council of the Isles of the Dead that Live -- Spoilers</TITLE>	
	<LINK REL="STYLESHEET" TYPE="text/css" 
	      HREF="../styles/spoilers.css" TITLE="spoilers">
</HEAD>

<body>

<H1>Middle Earth: {{ set }}, {{ category }}</H1>

{% for card in cards %}
    <h2>{{ card.name }}</h2>

    {% if card.type == 'Hazard' %}
        hazard<br>
    {% elif card.type == 'Resource' %}
        resource<br>
    {% elif card.type == 'Character' %}
        {% if card.alignment == 'Hero' %}
            character<br>
        {% elif card.alignment == 'Minion' %}
            minion<br>
        {% endif %}
    {% elif card.type == 'Site' %}
        site<br>
    {% endif %}
    {% if category == 'Non-minion Agents' %}
        {{ card.skills|join('/') }}{{ ' ' }}{{ card.race }}<br>
        [
            {{ card.prowess }}/{{ card.body }};
            {{ card.mp }} kill MP;
            {{ card.mind }} mind;
            {{ card.di }} direct influence;
            {{ card.cp }} corruption mod;
            Home Site: {{ card.home_site }}
        ]
    {% elif category == 'Allies' %}
        {% if card.skills is not none %}
            {{ card.skills|join('/') }}{{ ' ' }}{{ card.class }}{{ ' <br>' }}
        {% else %}
            {{ card.class }}{{ ' <br>' }}
        {% endif %}
        [
            {{ card.prowess }}/{{ card.body }};
            {{ card.mp }} ally MP;
            {{ card.mind }} mind
            {{ _extra_space }}
        ]
    {% elif category == 'Characters' %}
        {{ card.skills|join('/') }}{{ ' ' }}{{ card.race }}<br>
        [
            {{ card.prowess }}/{{ card.body }};
            {{ card.mp }} character MP;
            {{ card.mind }} mind;
            {{ card.di }} direct influence;
            {{ card.cp }} corruption mod;
            Home Site: {{ card.home_site }}
        ]
    {% elif category == 'Hazard Creatures' %}
        {{ card.class }}<br>
        [
            {{ card.prowess }}/{{ card.body }};
            {% if card.playable is none %}
                {{ card.mp }} kill MP
            {% else %}
                {{ card.mp }} kill MP;
                keyable to {{ card.playable }}
            {% endif %}
        ]
    {% elif category == 'Hazard Events' %}
        {% if card.name == "The Black Enemy's Wrath" %}
            {{ card.class|replace('-', '--') }}
        {% else %}
            {{ card.class }}
        {% endif %}
    {% elif category == 'Items' %}
        {{ card.class }}
    {% elif category == 'Minion Agents' %}
        {{ card.skills|join('/') }}{{ ' ' }}{{ card.race }}<br>
        [
            {{ card.prowess }}/{{ card.body }};
            {{ card.mp }} character/kill MP;
            {{ card.mind }} mind;
            {{ card.di }} direct influence;
            Home Site: {{ card.home_site }}
        ]
    {% elif category == 'Resource Events' %}
        {{ card.class }}
    {% elif category == 'Sites' %}
        {{ card.region }}<br>
        [
            {{ card.site_type }}{% if card._site_type_semi_colon %};{% endif %}
            {% if card.site_path is not none %}
                site path {{ card.site_path }}{% if card._site_path_comma %},{% else %};{% endif %}
            {% endif %}
            opponent draws: {{ card.opp_draws }},
            you draw:{% if card._sudden_br %}<br>{% endif %} {{ card.you_draw }}
        ]
    {% endif %}
    {% for line in card.text %}
        <BR>{{ line }}
    {% endfor %}
{% endfor %}

{% if _has_junk == 'yes' %}
    </ul>
    </TABLE>
    </H3>
{% endif %}
{% if _has_body_close == 'yes' %}
    </BODY>
{% endif %}
</HTML>
