<HTML>
<HEAD>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
	<META NAME="Author" CONTENT="Rob Rutten">

	<TITLE>The Council of the Isles of the Dead that Live -- Spoilers</TITLE>	
	<LINK REL="STYLESHEET" TYPE="text/css" 
	      HREF="../styles/spoilers.css" TITLE="spoilers">
</HEAD>
<body>

<H1>MECCG {{ category }}</H1>

{% for set in sets %}
    <h2>From ME:{{ set.set }}</h2>

    {% for card in set.cards %}
        {% if card.name == 'Angmar Arises' %}
            <h3>Title: Angmar Arises</h3>
        {% else %}
            <h3>{{ card.name }}</h3>
        {% endif %}

        {% if card.type == 'Hazard' and card.alignment is none %}
            {# make two explicit cases because of upper case E in "Event" #}
            {% if card.class == 'Short-event' %}
                <b>Type:</b> Hazard Short-event
            {% elif card.class == 'Permanent-event' %}
                <b>Type:</b> Hazard Permanent-event
            {% else %}
                <b>Type:</b> Hazard {{ card.class }}
            {% endif %}
        {% elif card.type == 'Character' and card.alignment == 'Hero' %}
            <b>Type:</b> Hero Character
        {% elif card.type == 'Resource' and card.alignment == 'Hero' %}
            {# make explicit case because of upper case E in "Event" #}
            {% if card.class == 'Permanent-event' %}
                <b>Type:</b> Resource Permanent-event
            {% else %}
                <b>Type:</b> {{ card.class }} (hero)
            {% endif %}
        {% elif card.type == 'Character' and card.alignment == 'Minion' %}
            <b>Type:</b> Minion agent
        {% elif card.type == 'Resource' and card.alignment == 'Minion' %}
            {# make explicit case because of missing colon after "Type" #}
            {% if card.class == 'Greater Item' %}
                <b>Type</b> Greater Item (minion)
            {% else %}
                <b>Type:</b> {{ card.class }} (minion)
            {% endif %}
        {% endif %}
        {% if card.mp is not none %}
            <br><b>MP:</b> {{ card.mp }}
        {% endif %}
        {% if card.keyed_to is not none %}
            <br><b>Keyable to:</b> {{ card.keyed_to }}
        {% endif %}
        {% if card.mind is not none %}
            <br><b>Mind:</b> {{ card.mind }}
        {% endif %}
        {% if card.di is not none %}
            <br><b>DI:</b> {{ card.di }}
        {% endif %}
        {% if card.race is not none %}
            <br><b>Race:</b> {{ card.skills|join('/') }}{{ ' ' }}{{ card.race }}
        {% endif %}
        {% if card.prowess is not none %}
            <br><b>P/B:</b> {{ card.prowess }}/{{ card.body }}
        {% endif %}
        <br><b>Text:{{ card.text|safe }}
        {% if card.cp is not none %}
            <br><b>CP:</b> {{ card.cp }}
        {% endif %}
        {% if card.home_site is not none %}
            <br><b>Home Site:</b> {{ card.home_site|join(', ') }}
        {% endif %}
        {% if card._trailing_br %}
            <br>
        {% endif %}
    {% endfor %}
{% endfor %}

</BODY>
</html>
