<HTML>
<HEAD>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
	<META NAME="Author" CONTENT="Rob Rutten">

	<TITLE>The Council of the Isles of the Dead that Live -- Spoilers</TITLE>	
	<LINK REL="STYLESHEET" TYPE="text/css" 
	      HREF="../styles/spoilers.css" TITLE="spoilers">
</HEAD>

<body>

<H1>Middle Earth: {{ set }}, {{ category }}</H1>

{% for card in cards %}
    <h2>{{ card.name|replace('Dwarven', 'Dw.') }}</h2>

    TYPE: {{ card.type }}<BR>
    RARITY: {{ card.rarity }}<BR>
    {% if card.type == 'Character' %}
        RACE: {{ card.race }}<BR>
        SKILLS: {{ card.skills|join('/') }}<BR>
        HOME_SITE: {{ card.home_site|join(', ') }}<BR>
        MP: {{ card.mp }}<BR>
        MIND: {{ card.mind }}<BR>
        INFLUENCE: {{ card.di }}<BR>
        PROWESS: {{ card.prowess }}<BR>
        BODY: {{ card.body }}<BR>
        CORRUPTION: {{ card.cp }}<BR>
        ARTIST: {{ card.artist }}<BR>
        RANDOM#: {{ card.random }}<BR>
    {% elif card.type == 'Resource' or card.type == 'Hazard' %}
        {% if card.class is not none %}
            {% if card.class == 'Ally' %}
                {% if card.skills == [] %}
                    CLASS: Ally<BR>
                {% else %}
                    CLASS: {{ card.skills|join('/') }} Ally<BR>
                {% endif %}
            {% elif card.class == 'Faction' %}
                CLASS: {{ card.race }} Faction<BR>
            {% else %}
                CLASS: {{ card.class|replace(' or ', '/') }}<BR>
            {% endif %}
        {% endif %}
    {% elif card.type == 'Region' %}
        REGION TYPE: {{ card.region_type }}<BR>
    {% elif card.type == 'Site' %}
        {% if card.region == 'The Shire' %}
            REGION: Shire<BR>
        {% elif card.region == 'Woodland Realm' %}
            REGION: Woodland Realms<BR>
        {% else %}
            REGION: {{ card.region }}<BR>
        {% endif %}
        SITE TYPE: {{ card.site_type }}<BR>
    {% endif %}
    {% for line in card.text %}
        {{ line }}<BR>
    {% endfor %}
    {% if card._has_hr %}
        <HR>
    {% endif %}
{% endfor %}

</BODY>
</html>