<HTML>
<HEAD>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
	<META NAME="Author" CONTENT="Rob Rutten">

	<TITLE>The Council of the Isles of the Dead that Live -- Spoilers</TITLE>	
	<LINK REL="STYLESHEET" TYPE="text/css" 
	      HREF="../styles/spoilers.css" TITLE="spoilers">
</HEAD>

<body>

<H1>Middle Earth: {{ set }}, {{ category }}</H1>

{% for card in cards %}
    <h2>{{ card.name }}</h2>
    {% for line in card.text %}
        {{ line }}<BR>
    {% endfor %}
    {% if card._has_hr %}
        <HR>
    {% endif %}
{% endfor %}

</BODY>
</html>